In [ ]:
# Usada para la importación de los datos
import pandas as pd
# Usada para la graficación
import matplotlib.pyplot as plt
# Usada para la graficación
import seaborn as sns
# La escala para normalización
from sklearn.preprocessing import StandardScaler, RobustScaler
# Para la separación del dataset
from sklearn.model_selection import train_test_split
# Para selección de características
from sklearn.ensemble import RandomForestClassifier
import numpy as np
#árbol de decisión
from sklearn.tree import DecisionTreeClassifier
#SVM
from sklearn import svm
# métricas de rendimiento
from sklearn import metrics
# the scaler - for min-max scaling
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df_f2 = pd.read_csv('Dataset40A.csv')

In [ ]:
df_f2.dtypes

Customer ID    float64
InvoiceDate    float64
Description    float64
StockCode      float64
Price          float64
Quantity       float64
dtype: object

In [ ]:
df_f2.iloc[202847]

Customer ID    0.622288
InvoiceDate    1.548410
Description    1.409596
StockCode      0.277208
Price         -0.198194
Quantity      -0.158405
Name: 202847, dtype: float64

In [ ]:
df_f3 = pd.DataFrame()

df_f3 = df_f2.sample(n=2000, axis=0)

In [ ]:
df_f3

        Customer ID  InvoiceDate  Description  StockCode     Price  Quantity
217272     1.270822     1.718564     1.353421   1.005623  1.227981 -0.115334
220826     0.528652    -1.187622     0.279225   0.601616 -0.476744 -0.158405
254584    -0.413357    -1.229418    -1.751087   0.926023  2.665299 -0.158405
127838    -1.222140     0.933567     0.138215  -1.191637 -0.298472 -0.144048
265500    -1.445231    -0.706653     0.264321  -0.242444 -0.601535 -0.000477
...             ...          ...          ...        ...       ...       ...
135720     0.942784     0.758958     0.450042   2.091487 -0.476744 -0.000477
168148    -0.696148     1.160792    -1.392257  -1.757848 -0.387608 -0.158405
16850      1.134454    -0.570021    -0.699819   0.122514 -0.008780 -0.158405
262139    -0.894102    -0.738477    -1.097627  -1.305780 -0.387608 -0.000477
67386     -0.552239     0.008543    -0.042919   0.241163 -0.097916 -0.086620

[5000 rows x 6 columns]

In [ ]:
df_f3 = df_f3 * 1000
df_f3=df_f3.astype(int)
df_f3

        Customer ID  InvoiceDate  Description  StockCode  Price  Quantity
217272         1270         1718         1353       1005   1227      -115
220826          528        -1187          279        601   -476      -158
254584         -413        -1229        -1751        926   2665      -158
127838        -1222          933          138      -1191   -298      -144
265500        -1445         -706          264       -242   -601         0
...             ...          ...          ...        ...    ...       ...
135720          942          758          450       2091   -476         0
168148         -696         1160        -1392      -1757   -387      -158
16850          1134         -570         -699        122     -8      -158
262139         -894         -738        -1097      -1305   -387         0
67386          -552            8          -42        241    -97       -86

[5000 rows x 6 columns]

In [ ]:
X = df_f3.drop('Quantity', axis=1)
y = df_f3['Quantity']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
RF = RandomForestClassifier(max_depth=7, n_estimators=100)
RF.fit(X_train, y_train)
y_pred_RF= RF.predict(X_test)

df_3 = pd.DataFrame()

cols = ['Machine Learning Classification Method',
        'Train Accuracy', 
        'Test Accuracy', 
        "Top 1 Feature Predictor",
        "Top 2 Feature Predictor",
        "Top 3 Feature Predictor",
        "Top 4 Feature Predictor",
        "Top 5 Feature Predictor"]

df_3.loc['Machine Learning Classification Method', 
       'Details'] = 'Random Forest Classifier'
df_3.loc['Train Accuracy', 'Details'] = RF.score(X_train, y_train) 
df_3.loc['Test Accuracy', 'Details'] = RF.score(X_test, y_test)

#random forest para selección de características

feature_importances = X.columns[np.argsort(RF.feature_importances_)][-5:]
df_3.loc['Top 1 Feature Predictor', 'Details'] = feature_importances[4]
df_3.loc['Top 2 Feature Predictor', 'Details'] = feature_importances[3]
df_3.loc['Top 3 Feature Predictor', 'Details'] = feature_importances[2]
df_3.loc['Top 4 Feature Predictor', 'Details'] = feature_importances[1]
df_3.loc['Top 5 Feature Predictor', 'Details'] = feature_importances[0]

display(df_3)

                                                         Details
Machine Learning Classification Method  Random Forest Classifier
Train Accuracy                                          0.406571
Test Accuracy                                           0.292667
Top 1 Feature Predictor                                    Price
Top 2 Feature Predictor                                StockCode
Top 3 Feature Predictor                              Customer ID
Top 4 Feature Predictor                              Description
Top 5 Feature Predictor                              InvoiceDate

In [ ]:
#entrenar al modelo
def trainmodel(X_train, X_test, y_train):
    clf = svm.SVC(kernel='linear')
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    return X_train, X_test, y_pred, y_train

In [ ]:
X_train, X_test, y_pred, y_train=trainmodel(X_train, X_test, y_train)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))